# Data files
data/
snowflake_upload/
Brazilian E-Commerce Public Dataset by Olist.csv

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment / secrets
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
